<body>
        <h1>#{{identificacao}}</h1>
        <br>
        <h2>Informações</h2>
        <h3>Vacinas:</h3>
        <br>
        <ul>
            <li>Febre Aftosa: {{vacinas.febre_aftosa}}</li>
            <li>Brucelose: {{vacinas.brucelose}}</li>
            <li>Clostridioses: {{vacinas.clostridioses}}</li>
            <li>Botulismo: {{vacinas.botulismo}}</li>
            <li>Leptospirose: {{vacinas.leptospirose}}</li>
            <li>Raiva: {{vacinas.raiva}}</li>
            <li>IBR BVD: {{vacinas.ibr_bvd}}</li>
        </ul>
        <ul>
            <li>
                Peso: {{pesos}}
            </li>
            {% if gestacoes %}
            <li>
                Já teve {{gestacoes}} gestações
            </li>
            {% endif %}
            {% if matriz %}
            <li>
                Matriz: #{{matriz}}
            </li>
            {% endif %}
        </ul>
        <h3>Observações: </h3>
        <br>
        {{observacoes}}
</body>