{% load static %}

<html>
<head>

    <title>Login</title>
    <script src="https://use.fontawesome.com/9a87bb795c.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<script src="https://use.fontawesome.com/9a87bb795c.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
</head>
<style>
    
</style>
<body>
    <div class='Wrapper'>
    <div>
        {{message_Ln1}}<br>{{message_Ln2}}
    </div>
    <div class="container" >
        <form method="POST" action="/login">
            <h2 class="title">Easy Farm</h2>
            <div class="form-group success">
                <label class="field-label">Username</label><br>
                <input type="text" class="form-field" name="username" required>
                <div class="field-icon">!</div>
                <small>Error message</small>
            </div>
            <div class="spacing"></div>
            <div class="form-group error" >
                
                <label class="field-label">Senha:</label><br>
                
                <input type="password" class="form-field" name="password" required>
                <div class="field-icon">!</div>
                <small>Error message</small>
            </div>
            <div class="spacing"></div>
            <div class="spacing"></div>
            <div class="spacing"></div>
                <div class="form-group">
                    
                    <button type="submit" class="field-button"  onclick="load()" ><h2 class="button-text">Entrar</h2></button>
                </div>
            
        
    </div>
</div>
<div class="loader-dim"></div>
<div class="c-loader"></div>
</body>
</html>